<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Certificado de avance de obras</title>
    <style>
      {{css}}
    </style>
  </head>
  <body>

    <table class="titulo" border="0" cellspacing="5" cellpading="0">
      <tr>
        <td class="titulo-izq"></td>
        <td class="titulo-cen">CERTIFICADO AVANCE DE OBRAS<br>CAO N° {{datos_proyecto.nro}}<br>PROYECTO: {{datos_proyecto.nombre}}</td>
        <td class="titulo-der">Formulario 2<br>Fecha: {{fecha_elaboracion_certificado}}</td>
      </tr>
    </table>

    <div class="seccion bloque" style="width: 48%">
      <div class="seccion-contenido-sin-titulo">
        <table class="b-resumen" border="0" cellspacing="5" cellpadding="0" width="100%">
          <tr> <td class="titulo-campo2 text-right">Departamento: </td><td class="contenido-campo">{{datos_proyecto.departamento}}</td><td class="sh"></td> </tr>
          <tr> <td class="titulo-campo2 text-right">Municipio: </td><td class="contenido-campo">{{datos_proyecto.municipio}}</td><td class="sh"></td> </tr>
          <!-- <tr> <td class="titulo-campo2 text-right">Fecha de elaboración: </td><td class="contenido-campo">{{fecha_elaboracion_certificado}}</td><td class="sh"></td> </tr> -->
        </table>
      </div>
    </div>

    <div class="seccion bloque" style="width: 48%">
      <div class="seccion-contenido-sin-titulo">
        <table class="b-resumen" border="0" cellspacing="5" cellpadding="0" width="100%">
          <tr> <td class="titulo-campo2 text-right">Supervisor: </td><td class="contenido-campo">{{datos_proyecto.supervisor}}</td><td class="sh"></td> </tr>
          <tr> <td class="titulo-campo2 text-right">Contratista: </td><td class="contenido-campo">{{datos_proyecto.contratista}}</td><td class="sh"></td> </tr>
          <tr> <td class="titulo-campo2 text-right">Residente de obra: </td><td class="contenido-campo">{{datos_proyecto.residente_de_obra}}</td><td class="sh"></td> </tr>
        </table>
      </div>
    </div>

    <div class="seccion bloque" style="width:100%; ">
      <center>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="titulo-dato-r left top" style="min-width:300px">Días de retraso</td>
            <td class="dato top" style="min-width:150px">{{dias_retraso}}</td>
          </tr>
          <tr>
            <td class="titulo-dato-r left top" style="min-width:300px; border-top:0">Descuento por multas Bs.</td>
            <td class="dato" style="min-width:150px">{{descuento_por_multas}}</td>
          </tr>
        </table>
      </center>
    </div>

    <div class="seccion bloque" style="width: 100%">
      <div class="seccion-titulo">PRESUPUESTO</div>
      <div class="seccion-contenido" style="text-align:center">
        <table class="b-resumen" border="0" cellspacing="5" cellpadding="0">
          <tr><td class="titulo-campo2 text-right">Monto Contractual Bs.</td><td class="contenido-campo2">{{presupuestos.monto_contractual}}</td><td>&nbsp;</td></tr>
          <tr><td class="titulo-campo2 text-right">Total desembolsado Bs. </td><td class="contenido-campo2">{{presupuestos.total_desembolsado}}</td><td>&nbsp;</td></tr>
          <tr><td colspan="4">&nbsp;</td></tr>
          <tr><td class="titulo-campo2 text-right">Total Certificado Actual Bs. </td><td class="contenido-campo2">{{presupuestos.total_certificado_actual}}</td><td>&nbsp;</td></tr>
          <tr><td class="titulo-campo2 text-right">Descuento por anticipo Bs. </td><td class="contenido-campo2">{{presupuestos.descuento_por_anticipo}}</td><td>&nbsp;</td></tr>
          <tr><td class="titulo-campo2 text-right">Descuento por multas Bs. </td><td class="contenido-campo2">{{presupuestos.descuento_por_multas}}</td><td>&nbsp;</td></tr>
          <tr><td class="titulo-campo2 text-right">Monto a pagar Certificado Actual Bs. </td><td class="contenido-campo2">{{presupuestos.monto_pagar_certificado_actual}}</td><td>&nbsp;</td></tr>
          <tr><td class="titulo-campo2 text-right">Total acumulado avance financiero Bs. </td><td class="contenido-campo2">{{presupuestos.total_acumulado_avance_financiero}}</td><td>&nbsp;</td></tr>
        </table>
      </div>
    </div>

    <div class="seccion bloque" style="border:0">
      <div class="seccion-contenido-sin-titulo">
        <div class="seccion-firmas">
          <div class="firma">FIRMA DEL REPRESENTANTE LEGAL<br>EMPRESA CONSTRUCTORA / CONSULTORA</div>
          <div class="firma">FIRMA DEL SUPERVISOR</div>
          <div class="firma">FIRMA DEL FISCAL</div>
          <div class="firma">FIRMA DEL RESPONSABLE TÉCNICO DE LA EMPRESA</div>
          <div class="firma">FIRMA DEL ALCALDE</div>
        </div>
      </div>
    </div>

  </body>
</html>
