<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Resumen de computos metricos Planilla {{datos_proyecto.nro}}</title>
    <style>
      {{css}}
    </style>
  </head>
  <body>

    <table class="titulo" border="0" cellspacing="5" cellpading="0">
      <tr>
        <td class="titulo-cen" style="width:100%">PROYECTO: {{datos_proyecto.nombre}}<br>
          <span class="fz-13">Resumen de cómputos métricos - Planilla N° {{datos_proyecto.nro}}</span>
        </td>
      </tr>
    </table>

    <div class="seccion">
      <div class="seccion-contenido-sin-titulo">
        <table class="bloque b-resumen" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="text-right">Departamento: </td><td class="contenido" style="min-width: 240px;">{{datos_proyecto.departamento}}</td><td class="sh"></td>
            <td class="text-right">Empresa: </td><td class="contenido" style="min-width: 350px;">{{datos_proyecto.empresa}}</td><td class="sh"></td>
          </tr>
          <tr>
            <td class="text-right">Municipio: </td><td class="contenido" style="min-width: 240px;">{{datos_proyecto.municipio}}</td><td class="sh"></td>
            <td class="text-right">Supervisor: </td><td class="contenido" style="min-width: 350px;">{{datos_proyecto.supervisor}}</td><td class="sh"></td>
          </tr>
          <tr>
            <td class="text-right">Fecha de elaboración: </td><td class="contenido" style="min-width: 240px;">{{fecha_elaboracion_resumen}}</td><td class="sh"></td>
            <td class="text-right">Fiscal: </td><td class="contenido" style="min-width: 350px;">{{datos_proyecto.fiscal}}</td><td class="sh"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="seccion">
      <div class="seccion-contenido-sin-titulo">
        <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr class="bloque">
              <td class="titulo-dato left" style="border-bottom: 0" colspan="4">CÓMPUTOS METRICOS</td>
            </tr>
            <tr class="bloque">
              <td class="titulo-dato left" rowspan="2">N°</td>
              <td class="titulo-dato" rowspan="2">DESCRIPCIÓN</td>
              <td class="titulo-dato" rowspan="2">UNIDAD</td>
              <td class="titulo-dato" rowspan="2">CANTIDAD EJECUTADA</td>
            </tr>
          </thead>
          {{#each this.items}}
          <tr class="bloque">
            <td class="dato left fz-11">{{this.nro}}</td>
            <td class="dato-l fz-11">{{this.descripcion}}</td>
            <td class="dato fz-11">{{this.unidad}}</td>
            <td class="dato-r fz-11">{{this.cantidad_ejecutada}}</td>
          </tr>
          {{/each}}
        </table>
        <div class="sv"></div>
      </div>
    </div>

    <div class="seccion bloque">
      <div class="seccion-contenido-sin-titulo">
        <div class="seccion-firmas">
          <div class="col-media">
            <div class="firma">FIRMA DEL REPRESENTANTE LEGAL<br>EMPRESA CONSTRUCTORA / CONSULTORA</div>
          </div>
          <div class="col-media">
            <div class="firma">FIRMA DEL SUPERVISOR</div>
          </div>
        </div>
        <div class="seccion-firmas">
          <div class="col-media">
            <div class="firma">FIRMA DEL FISCAL</div>
          </div>
          <div class="col-media">
            <div class="firma">FIRMA DEL RESPONSABLE TÉCNICO DE LA EMPRESA</div>
          </div>
        </div>
        <div class="seccion-firmas">
          <div class="firma">FIRMA DEL ALCALDE</div>
        </div>
      </div>
    </div>

  </body>
</html>
