<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
</head>

<body style="background-color: #f7f7f7;">
  <div style='background-color: #fff; width: 450px; margin: 15px auto ; text-align: justify; line-height: 1.5; font-size: 14px; box-shadow: 0px 0px 5px #37474f;'>
    <!-- DF0101 6E6E6E #E30522-->

    <table style='border-bottom: 2px solid #37474f; padding: 10px; '>
      <tr>
        <td style="text-align: center; font-size: 25px; font-weight: bold; color: #37474f;">
          Fondo de Desarrollo Indígena
        </td>
        <td style="text-align: right;">
          <img style="max-width: 100px;" src="{{urlLogo}}" title="Fondo de Desarrollo Indígena" alt="Fondo de Desarrollo Indígena">
        </td>
      </tr>
    </table>
    <div style='margin: 10px; padding: 5px 15px 10px;'>
      Saludos {{persona.nombres}} {{persona.primer_apellido}} {{persona.segundo_apellido}}.<br>
      Ha solicitado la recuperación de su contraseña:<br><br>
      usuario: <strong>{{usuario}}</strong><br>
      <!-- código de recuperación: <strong>{{codigo}}</strong><br><br> -->
      <br><br>
      URL para recuperar su contraseña: <br><a href="{{urlBase}}/restablecer-contrasenia/{{codigo}}">{{urlBase}}/restablecer-contrasenia/{{codigo}}</a>
      <br>
      <p>
        Si usted no ha hecho esta solicitud haga caso omiso a este correo.
      </p>
    </div>
  </div>
</body>

</html>
