<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8"> </head>

<body style="background-color: #f7f7f7;">
  <div style='background-color: #fff; width: 450px; margin: 15px auto ; text-align: justify; line-height: 1.5; font-size: 14px; box-shadow: 0px 0px 5px #37474f;'>
    <!-- DF0101 6E6E6E #E30522-->

    <table style='border-bottom: 2px solid #37474f; padding: 10px; '>
      <tr>
        <td style="text-align: center; font-size: 25px; font-weight: bold; color: #37474f;">
          Fondo de Desarrollo Indígena
        </td>
        <td style="text-align: right;">
          <img style="max-width: 100px;" src="{{urlLogo}}" title="Fondo de Desarrollo Indígena" alt="Fondo de Desarrollo Indígena">
        </td>
      </tr>
    </table>
    <div style='margin: 10px; padding: 5px 15px 10px;'>
      En su calidad de <strong>{{cargo}}</strong> del proyecto <strong>{{proyecto}}</strong> se le asigna el usuario y contraseña para acceder al Sistema de Seguimiento de Proyectos del FDI.<br><br>
      Su cuenta actual es:<br>
      usuario: <strong>{{usuario}}</strong><br>
      contraseña: <strong>{{contrasena}}</strong><br><br>
      Portal del Sistema: <a href="{{urlLogin}}">{{urlLogin}}</a>
    </div>
  </div>
</body>

</html>
