<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8"> </head>

<body style="background-color: #f7f7f7;">
  <div style='background-color: #fff; width: 450px; margin: 15px auto ; text-align: justify; line-height: 1.5; font-size: 14px; box-shadow: 0px 0px 5px #37474f;'>
    <!-- DF0101 6E6E6E #E30522-->

    <table style='border-bottom: 2px solid #37474f; padding: 10px; '>
      <tr>
        <td style="text-align: center; font-size: 25px; font-weight: bold; color: #37474f;">
          Fondo de Desarrollo Indígena
        </td>
        <td style="text-align: right;">
          <img style="max-width: 100px;" src="{{urlLogo}}" title="Fondo de Desarrollo Indígena" alt="Fondo de Desarrollo Indígena">
        </td>
      </tr>
    </table>
    <div style='margin: 10px; padding: 5px 15px 10px;'>
      <p>En su calidad de <strong>{{cargo}}</strong> del proyecto <strong>{{proyecto}}</strong>.
         {{#equal contrasena 'pass'}}Se le recuerda que Ud. ya tiene un usuario{{/equal}}
         {{#notEqual contrasena 'pass'}}Se le asigna su respectivo usuario y contraseña{{/notEqual}}
         para acceder al Sistema de Seguimiento de Proyectos del FDI y registrar al Fiscal designado para el actual proyecto.</p>
      <p>Se le informa que ya habiéndose realizado el primer desembolso al Municipio deberá iniciar los respectivos procesos administrativos para la ejecución del proyecto, que incluyen la contratación del/los supervisores del proyecto, mismos que deberán ser registrados en el sistema de acuerdo al avance y etapa del proyecto.</p>
      <br>
      Su cuenta actual es:<br>
      usuario: <strong>{{usuario}}</strong><br>
      {{#notEqual contrasena 'pass'}}
      contraseña: <strong>{{contrasena}}</strong>
      {{/notEqual}}
      <br><br>
      Portal del Sistema: <a href="{{urlLogin}}">{{urlLogin}}</a>
    </div>
  </div>
</body>

</html>
