<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8"> </head>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, Verdana, "DejaVu Sans";
    }
    h2, h3 {
      margin: 0;
      font-size: 16px;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    table td {
      padding: 0;
    }
    table.table1 {
      margin: 0 auto;
      width: 220mm;
      max-width: 220mm;
    }
    table.bordered {
      border: 2px solid;
    }
    table.full {
      width: 100%;
      height: 100%;
    }
    table tr.bordered {
      border: 2px solid;
    }
    table td.bordered {
      border: 2px solid;
    }
    table td.center {
      text-align: center;
    }
    table td.bolder {
      font-weight: bold;
    }
    table td.text {
      padding: 2px;
      font-size: 12px;
      word-wrap: anywhere;
    }
    table td.text1 {
      padding: 2px;
      font-size: 14px;
    }
    table td.right {
      text-align: right;
    }
    table td.top {
      vertical-align: top;
    }
  </style>
<head>
<body>
<table class="table1">
  <tr class="bordered">
    <td class="center" colspan="6" style="height:100px;vertical-align:middle;"><h2>FICHA TÉCNICA DE PROYECTO</h2></td>
  </tr>
  <tr class="bordered" style="height:14mm;">
    <td class="text1 bolder">PROYECTO:</td>
    <td colspan="5" class="text bolder center">{{proyecto}}</td>
  </tr>
  <tr class="bordered" style="height:7mm;">
    <td class="text bolder" style="width: 40mm;">TIPO DE PROYECTO:</td>
    <td class="text" colspan="3">{{tipo}}</td>
    <td class="text bolder">FECHA</td>
    <td class="text right">{{fecha}}</td>
  </tr>
  <tr class="bordered" style="height:7mm;">
    <td class="text bolder">DEPARTAMENTO</td>
    <td class="text">{{departamento}}</td>
    <td class="text bolder">PROVINCIA</td>
    <td class="text">{{provincia}}</td>
    <td class="text bolder">MUNICIPIO</td>
    <td class="text">{{municipio}}</td>
  </tr>
  <tr class="bordered" style="height:14mm;">
    <td class="text bolder top">COMUNIDADES</td>
    <td class="text top" colspan="5">
      {{#each comunidades}}{{#ifNotEquals @index 0}}, {{/ifNotEquals}}<span>{{./nombre}}</span>{{/each}}
    </td>
  </tr>
</table>
<div style="height:2px;">&nbsp;</div>
<table class="table1">
  <tr class="bordered">
    <td colspan="2">
      <table class="full">
        <tr>
          <td>
            <table class="full">
              <tr>
                <td>
                  <table style="width:100%;">
                    <tr>
                      <td class="text bolder">MONTO FINANCIAMIENTO FDI:</td><td class="text bolder right">{{financiamiento.monto_fdi}}</td>
                    </tr>
                    <tr>
                      <td class="text bolder">CONTRAPARTE GAM:</td><td class="text bolder right">{{financiamiento.monto_contraparte}}</td>
                    </tr>
                    <tr>
                      <td class="text bolder">CONTRAPARTE BENEFICIARIOS:</td><td class="text bolder right">{{financiamiento.monto_beneficiarios}}</td>
                    </tr>
                    <tr>
                      <td class="text bolder">MONTO TOTAL DEL PROYECTO:</td><td class="text bolder right">{{financiamiento.monto_total_proyecto}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="border-top: 2px solid;">
                  <table style="width:100%;">
                    <tr>
                      <td class="text bolder">1° DESEMBOLSO</td><td class="text bolder">{{desembolsos.fecha_1}}</td><td class="text right">{{desembolsos.monto_1}}</td>
                    <tr>
                    <tr>
                      <td class="text bolder">2° DESEMBOLSO</td><td class="text bolder">{{desembolsos.fecha_2}}</td><td class="text right">{{desembolsos.monto_2}}</td>
                    <tr>
                    <tr>
                      <td class="text bolder">3° DESEMBOLSO</td><td class="text bolder">{{desembolsos.fecha_3}}</td><td class="text right">{{desembolsos.monto_3}}</td>
                    <tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td style="border-left: 2px solid;">
            <table class="full">
              <tr>
                <td>
                  <table class="full">
                    <tr>
                      <td class="text bolder">BENEFICIARIOS:</td>
                      <td class="text right">{{nro_familias}} Familias</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="border-top: 2px solid;">
                  <table class="full">
                    <tr>
                      <td class="text bolder">ORDEN DE PROCEDER</td><td colspan="2" class="text bolder">{{orden_proceder}}</td>
                    </tr>
                    <tr>
                      <td class="text bolder">PLAZO EJECUCION</td><td>&nbsp;</td><td class="text right">{{plazo_ejecucion}} Dias calendario</td>
                    </tr>
                    <tr>
                      <td class="text bolder">AMPLIACION</td><td>&nbsp;</td><td class="text right">{{plazo_ampliacion}} Dias calendario</td>
                    </tr>
                    <tr>
                      <td class="text bolder">ENTREGA PROVISIONAL</td><td colspan="2" class="text bolder">{{entrega_provisional}}</td>
                    </tr>
                    <tr>
                      <td class="text bolder">ENTREGA DEFINITIVA</td><td colspan="2" class="text bolder">{{entrega_definitiva}}</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="border-top: 2px solid;">
                  <table class="full">
                    <tr style="background-color:#ddd;">
                      <td class="text bolder">AVANCE FISICO</td>
                      <td class="text bolder">{{avance.fisico}} %</td>
                      <td class="text bolder">AVANCE FINANCIERO</td>
                      <td class="text bolder right">{{avance.financiero}} %</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="bordered" style="height:7mm;">
    <td class="text bolder" style="width: 50mm;">INDICADOR DE PRODUCTO:</td><td class="text">{{informe.indicador_descripcion}}</td>
  </tr>
  <tr class="bordered" style="height: 21mm;">
    <td class="text bolder top" style="width: 50mm;">META PRINCIPAL:</td><td class="text top">{{informe.metas_resultados}}</td>
  </tr>
  <tr class="bordered" style="height: 28mm;">
    <td colspan="2" class="text top">COMPONENTES:
      {{#each componentes}}<div>* {{./nombre}}</div>{{/each}}
    </td>
  </tr>
</table>
</body>
</html>
