<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario A-6</title>
  <style>
    {{css}}
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO A-6<br>
        <span style="font-size:80%">HOJA DE VIDA DEL(LOS) {{cargo}}(S) ASIGNADO(S)</span>
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
        <tr><td class="titulo-dato-l left" style="border-bottom:0;border-right:0">DATOS GENERALES</td></tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Nombre Completo: </td>
            <td class="campo-contenido">{{datos_generales.nombre}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">Número</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Lugar de expedición</td>
            <td class="sh"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="campo-titulo">Cédula de identidad: </td>
            <td class="campo-contenido2" style="width:150px">{{datos_generales.ci}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2" style="width:150px">{{datos_generales.expedido_en}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Edad: </td>
            <td class="campo-contenido2" style="width:150px">{{datos_generales.edad}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Nacionalidad: </td>
            <td class="campo-contenido" style="width:150px">{{datos_generales.nacionalidad}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Profesión: </td>
            <td class="campo-contenido" style="width:150px">{{datos_generales.profesion}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Número de Registro Profesional: </td>
            <td class="campo-contenido" style="width:150px">{{datos_generales.nro_registro_profesional}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td class="titulo-dato-l left" style="border-bottom:0" colspan="11">EXPERIENCIA GENERAL</td>
      </tr>
      <tr>
        <th class="titulo-dato left" rowspan="2">Nro.</th>
        <th class="titulo-dato" rowspan="2">Empresa / Entidad</th>
        <th class="titulo-dato" rowspan="2">Objeto de la obra</th>
        <th class="titulo-dato" rowspan="2">Monto de la obra en Bs.</th>
        <th class="titulo-dato" rowspan="2">Cargo</th>
        <th class="titulo-dato" colspan="2">Fecha (Día/Mes/Año)</th>
      </tr>
      <tr>
        <th class="titulo-dato" style="border-top:0px;">Desde</th>
        <th class="titulo-dato" style="border-top:0px;">Hasta</th>
      </tr>
    </thead>
    {{#each experiencias.generales}}
    <tr class="bloque">
      <td class="dato left">{{this.nro}}</td>
      <td class="dato-l">{{this.empresa}}</td>
      <td class="dato-l">{{this.objeto_obra}}</td>
      <td class="dato-r">{{this.monto_obra_bs}}</td>
      <td class="dato-l">{{this.cargo}}</td>
      <td class="dato">{{this.desde}}</td>
      <td class="dato">{{this.hasta}}</td>
    </tr>
    {{/each}}
  </table>

  <div class="sv"></div>

  <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <td class="titulo-dato-l left" style="border-bottom:0" colspan="11">EXPERIENCIA ESPECIFICA</td>
      </tr>
      <tr>
        <th class="titulo-dato left" rowspan="2">Nro.</th>
        <th class="titulo-dato" rowspan="2">Empresa / Entidad</th>
        <th class="titulo-dato" rowspan="2">Objeto de la obra</th>
        <th class="titulo-dato" rowspan="2">Monto de la obra en Bs.</th>
        <th class="titulo-dato" rowspan="2">Cargo</th>
        <th class="titulo-dato" colspan="2">Fecha (Día/Mes/Año)</th>
      </tr>
      <tr>
        <th class="titulo-dato" style="border-top:0px;">Desde</th>
        <th class="titulo-dato" style="border-top:0px;">Hasta</th>
      </tr>
    </thead>
    {{#each experiencias.especificas}}
    <tr class="bloque">
      <td class="dato left">{{this.nro}}</td>
      <td class="dato-l">{{this.empresa}}</td>
      <td class="dato-l">{{this.objeto_obra}}</td>
      <td class="dato-r">{{this.monto_obra_bs}}</td>
      <td class="dato-l">{{this.cargo}}</td>
      <td class="dato">{{this.desde}}</td>
      <td class="dato">{{this.hasta}}</td>
    </tr>
    {{/each}}
  </table>

  <div class="sv"></div>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="titulo-dato-l left" style="border-bottom:0;border-right:0">DECLARACIÓN JURADA</td></tr>
    <tr>
      <td class="seccion-contenido" style="padding:20px">

        <p>
          Yo, {{declaracion.nombre}} con C.I. N° {{datos_generales.ci}}, de
          nacionalidad {{datos_generales.nacionalidad}}
          me comprometo a prestar mis servicios profesionales para desempeñar la función de {{cargo}},
          únicamente con la empresa {{empresa}}, en caso que dicha empresa suscriba
          el contrato para la construcción de {{objeto_contratacion}} con
          la entidad {{entidad_beneficiaria}}. Asimismo, confirmo que tengo pleno dominio hablado
          y escrito del idioma español.
        </p>
        <p>
          El Representante Legal de la empresa proponente, ha verificado que el
          profesional propuesto sólo se presenta con esta propuesta. De encontrarse propuesto sus servicios en otra
          propuesta para la misma contratación, asumo la descalificación y rechazo de la presente propuesta.
        </p>
        <p>
          Lugar y fecha: {{declaracion.lugar}} {{declaracion.fecha}}
        </p>
        <p>
          <strong>NOTA.-</strong> Toda la información contenida en este formulario es una declaración jurada. En caso de
          adjudicación el proponente se compromete a presentar los certificados de trabajo de cada una
          de las obras detalladas, en original o fotocopia legalizada emitida por la entidad contratante.
        </p>

      </td>
    </tr>
  </table>

</body>
</html>
