<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Evaluacion</title>
  <style>
    .form-evaluacion {

    }
    .form-evaluacion .titulo {
      text-align: center;
      font-weight: bold;
    }
    .form-evaluacion .center {
      text-align: center;
    }
    .form-evaluacion .right {
      text-align: right;
    }
    .form-evaluacion .backcolor {
      background-color: #BDD7EE;
    }
    .form-evaluacion table {
      width: 100%;
      border-collapse: collapse;
    }
    .form-evaluacion table th,
    .form-evaluacion table td {
      border: 1px solid #000;
      padding: 4px;
    }
    .form-evaluacion table th {
      background-color: #BDD7EE;
      text-align: center;
    }
    .form-evaluacion table .w240 {
      width: 100px;
    }
    .font-small {
      font-size: 9px;
    }
    .textarea {
      white-space: pre-wrap;
    }

    tr:before { clear: both; }
    tr {
      page-break-before: always;
      page-break-inside: avoid;
    }
  </style>
</head>
<body>

  <section>
    <div class="form-evaluacion">
      <table>
        <tr>
          <td class="center"><img id="imagen" alt="logo_mdryt" src="{{path}}/public/imagen/fdi-logo.png"/ height="50px"></td>
          <th>
            <h4>FORMULARIO DE EVALUACION DEL EDTP</h4>
            <h6>I. DATOS GENERALES DEL PROYECTO</h6>
          </th>
          <td class="center"><img alt="logo_fdi" src="{{path}}/public/imagen/mdryt-logo.png"/ height="50px"></td>
        </tr>
      </table>
      <hr>
      <table class="font-small">
        <tr>
          <th class="w240">CODIGO</th>
          <td colspan="5">{{nro_convenio}}</td>
        </tr>
        <tr>
          <th class="w240">DEPARTAMENTO</th>
          <td class="w240">{{departamento.nombre}}</td>
          <th class="w240">PROVINCIA</th>
          <td class="w240" colspan="3">{{provincia.nombre}}</td>
        </tr>
        <tr>
          <th class="w240">MUNICIPIO</th>
          <td class="w240" colspan="5">{{municipio.nombre}}</td>
        </tr>
        <tr>
          <th class="w240">NOMBRE DEL PROYECTO</th>
          <td colspan="5">{{nombre}}</td>
        </tr>
      </table>
      <hr>
      <table class="font-small">
        <tr>
          <th class="w240" rowspan="2">PLAZOS (días)</th>
          <th class="w240">Ejecución</th>
          <td colspan="2">{{beneficiarios.plazo_ejecucion}}</td>
        </tr>
        <tr>
          <th class="w240">Convenio</th>
          <td colspan="2">{{plazo_convenio}}</td>
        </tr>
      </table>
      <hr>
      <table class="font-small">
        <tr>
          <th class="w240">N° COMUNIDADES</th>
          <td class="w240">{{beneficiarios.nro_comunidades}}</td>
          <th rowspan="2" class="w240">COMUNIDADES</th>
          <td rowspan="2">
            {{#each beneficiarios.comunidades}}
            <span>
              {{this.nombre}}{{#sep}},{{/sep}}
            </span>
            {{/each}}
          </td>
        </tr>
        <tr>
          <th class="w240">N° Familias Beneficiarias directas</th>
          <td class="w240">{{beneficiarios.nro_familias}}</td>
        </tr>
      </table>
      <hr>
      <table class="font-small">
        <tr>
          <th colspan="2">MONTO FINANCIAMIENTO (Bs)</th>
          <th colspan="2">ELABORACIÓN DEL EDTP</th>
        </tr>
        <tr>
          <th class="w240">FDI</th>
          <td class="w240 right">{{financiamiento.monto_fdi}}</td>
          <th class="w240" rowspan="2">Responsable GAM/GAIOC Aprobación proyectos / Telefono correo</th>
          <td rowspan="2"><div class="textarea">{{{responsable_gam_gaioc}}}</div></td>
        </tr>
        <tr>
          <th class="w240">GAM/GAIOC</th>
          <td class="w240 right">{{financiamiento.monto_contraparte}}</td>
        </tr>
        <tr>
          <th class="w240">BENEFICIARIOS</th>
          <td class="w240 right">{{financiamiento.monto_beneficiarios}}</td>
          <th class="w240" rowspan="2">Tecnico encargado de la Elaboracion del EDTP / Telefono correo</th>
          <td rowspan="2"><div class="textarea">{{{responsable_edtp}}}</div></td>
        </tr>
        <tr>
          <th class="w240">OTROS</th>
          <td class="w240 right">{{financiamiento.monto_otros}}</td>
        </tr>
        <tr>
          <th class="w240">TOTAL</th>
          <td class="w240 titulo right">{{financiamiento.monto_total_proyecto}}</td>
        </tr>
      </table>
      <hr>
      <!-- Datos 1 -->
      <table class="font-small">
        <tr>
          <td colspan="2" class="titulo backcolor">DESCRIPCIÓN</td>
          <td class="titulo backcolor" width="30%">PARAMETRO/CRITERIO DE EVALUACION</td>
          <td class="titulo backcolor">CUMPLE</td>
          <td class="titulo backcolor">NO CUMPLE</td>
          <td class="titulo backcolor">NO APLICA</td>
          <td class="titulo backcolor">OBSERVACIONES</td>
        </tr>
      {{#each evaluacion.datos}}
        <tr>
          {{#each ./cols}}
          <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
            {{#if ./titulo}}
              <div style="page-break-inside: avoid;">
                <b>{{{./titulo}}}</b>
              </div>
            {{/if}}
            {{#if ./contenido.type}}
              {{#equal ./contenido.type 'radio'}}
                <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
              {{/equal}}
              {{#equal ./contenido.type 'textarea'}}
                <div class="textarea">{{{./contenido.value}}}</div>
              {{/equal}}
            {{/if}}
            {{#unless ./contenido.type}}
              {{{./contenido}}}
            {{/unless}}
          </td>
          {{/each}}
        </tr>
      {{/each}}
      </table>
      <!-- Datos 2 -->
      <hr>
      <div style="page-break-inside: avoid;"> <!-- Nueva hoja -->
        <table class="font-small">
          <tr>
            <td colspan="2" class="titulo backcolor">2. CRITERIOS GENERALES DE ELEGIBILIDAD</td>
            <td colspan="2" class="titulo backcolor">Valoración</td>
          </tr>
          <tr>
            <td class="titulo backcolor">Criterio</td>
            <td class="titulo backcolor">Medios de verificación</td>
            <td class="titulo backcolor">CUMPLE</td>
            <td class="titulo backcolor">NO CUMPLE</td>
          </tr>
        {{#each evaluacion.datos2}}
          <tr>
            {{#each ./cols}}
            <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
              {{#if ./titulo}}
                <b>{{{./titulo}}}</b>
              {{/if}}
              {{#if ./contenido.type}}
                {{#equal ./contenido.type 'radio'}}
                  <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
                {{/equal}}
                {{#equal ./contenido.type 'textarea'}}
                  <div class="textarea">{{{./contenido.value}}}</div>
                {{/equal}}
              {{/if}}
              {{#unless ./contenido.type}}
                {{{./contenido}}}
              {{/unless}}
            </td>
            {{/each}}
          </tr>
        {{/each}}
        </table>
      </div>
      <!-- Datos 3 -->
      {{#ifEquals beneficiarios.tipo 'OP_TP_PRODUCTIVO'}}
      <hr>
      <div style="page-break-inside: avoid;"> <!-- Nueva hoja -->
        <table class="font-small">
          <tr>
            <td colspan="3" class="titulo backcolor">3. CRITERIOS ESPECIFICOS DE ELEGIBILIDAD</td>
            <td colspan="3" class="titulo backcolor">Valoración</td>
          </tr>
          <tr>
            <td class="titulo backcolor">Tipo de Proyecto</td>
            <td class="titulo backcolor">Criterio</td>
            <td class="titulo backcolor">Medios de verificación</td>
            <td class="titulo backcolor">CUMPLE</td>
            <td class="titulo backcolor">NO CUMPLE</td>
            <td class="titulo backcolor">NO APLICA</td>
          </tr>
        {{#each evaluacion.datos3}}
          {{#ifEnabled ../beneficiarios.productivo ./key}}
          <tr>
            {{#each ./cols}}
            <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
              {{#if ./titulo}}
                <b>{{{./titulo}}}</b>
              {{/if}}
              {{#if ./contenido.type}}
                {{#equal ./contenido.type 'radio'}}
                  <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
                {{/equal}}
                {{#equal ./contenido.type 'textarea'}}
                  <div class="textarea">{{{./contenido.value}}}</div>
                {{/equal}}
              {{/if}}
              {{#unless ./contenido.type}}
                {{{./contenido}}}
              {{/unless}}
            </td>
            {{/each}}
          </tr>
          {{/ifEnabled}}
        {{/each}}
        </table>
      </div>
      {{/ifEquals}}
      <!-- Datos 4 -->
      <hr>
      <div style="page-break-inside: avoid;"> <!-- Nueva hoja -->
        <table class="font-small">
          <tr>
            <td colspan="3" class="titulo backcolor">4. ANALISIS DE LA FACTIBILIDAD DEL PROYECTO</td>
            <td colspan="2" class="titulo backcolor">Valoración</td>
          </tr>
          <tr>
            <td class="titulo backcolor">Indicador</td>
            <td class="titulo backcolor">Parametro (Factor y/o dato)</td>
            <td class="titulo backcolor">Insumo / Instrumento</td>
            <td class="titulo backcolor">CUMPLE</td>
            <td class="titulo backcolor">NO CUMPLE</td>
          </tr>
          {{#each evaluacion.datos4}}
          {{#ifEquals ../beneficiarios.tamanio_proyecto 'OP_TP_MENORES'}}
          {{#ifNotEquals ./key 'seccion_4_1'}}
          <tr>
            {{#each ./cols}}
            <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
              {{#if ./titulo}}
                <b>{{{./titulo}}}</b>
              {{/if}}
              {{#if ./contenido.type}}
                {{#equal ./contenido.type 'radio'}}
                  <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
                {{/equal}}
                {{#equal ./contenido.type 'textarea'}}
                  <div class="textarea">{{{./contenido.value}}}</div>
                {{/equal}}
              {{/if}}
              {{#unless ./contenido.type}}
                {{{./contenido}}}
              {{/unless}}
            </td>
            {{/each}}
          </tr>
          {{/ifNotEquals}}
          {{/ifEquals}}
          {{#ifNotEquals ../beneficiarios.tamanio_proyecto 'OP_TP_MENORES'}}
          <tr>
            {{#each ./cols}}
            <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
              {{#if ./titulo}}
                <b>{{{./titulo}}}</b>
              {{/if}}
              {{#if ./contenido.type}}
                {{#equal ./contenido.type 'radio'}}
                  <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
                {{/equal}}
                {{#equal ./contenido.type 'textarea'}}
                  <div class="textarea">{{{./contenido.value}}}</div>
                {{/equal}}
              {{/if}}
              {{#unless ./contenido.type}}
                {{{./contenido}}}
              {{/unless}}
            </td>
            {{/each}}
          </tr>
          {{/ifNotEquals}}
        {{/each}}
        </table>
      </div>
      <!-- Datos 5 -->
      <hr>
      <div style="page-break-inside: avoid;"> <!-- Nueva hoja si es necesario -->
        <table class="font-small">
          <tr>
          <td class="titulo backcolor"></td>
          <td class="titulo backcolor">APROBAR</td>
          <td class="titulo backcolor">AJUSTAR</td>
          <td class="titulo backcolor">RECHAZAR</td>
        </tr>
        {{#each evaluacion.datos5}}
          <tr>
            {{#each ./cols}}
            <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
              {{#if ./titulo}}
                <b>{{{./titulo}}}</b>
              {{/if}}
              {{#if ./contenido.type}}
                {{#equal ./contenido.type 'radio'}}
                  <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
                {{/equal}}
                {{#equal ./contenido.type 'textarea'}}
                  <div class="textarea">{{{./contenido.value}}}</div>
                {{/equal}}
              {{/if}}
              {{#unless ./contenido.type}}
                {{{./contenido}}}
              {{/unless}}
            </td>
            {{/each}}
          </tr>
        {{/each}}
        </table>
      </div>
    </div>
  </section>
  <br>
  <section class="form-evaluacion">
    <div style="page-break-inside: avoid;"> <!-- Nueva hoja si es necesario -->
      <table class="font-small">
        <tr>
          <th class="backcolor" width="33%">TECNICO REVISOR</th>
          <th class="backcolor" width="33%">CONFORMIDAD JEFE AREA REVISION TECNICA DE PROYECTOS</th>
          <th class="backcolor" width="33%">V° B° JEFE DEPARTAMENTO TECNICO</th>
        </tr>
        <tr>
          <td><br><br><br><br>FIRMA</td>
          <td><br><br><br><br>FIRMA</td>
          <td><br><br><br><br>FIRMA</td>
        </tr>
        <tr>
          <td>Nombre: {{evaluacion.revisor.nombre}}</td>
          <td>Nombre: {{evaluacion.jefe_area.nombre}}</td>
          <td>Nombre: {{evaluacion.jefe_depto.nombre}}</td>
        </tr>
        <tr>
          <td>Cargo: {{evaluacion.revisor.cargo}}</td>
          <td>Cargo: {{evaluacion.jefe_area.cargo}}</td>
          <td>Cargo: {{evaluacion.jefe_depto.cargo}}</td>
        </tr>
        <tr>
          <td class="backcolor" colspan="3">Fecha: {{fecha_actual}}</td>
        </tr>
      </table>
    </div>
  </section>
</body>
</html>
