<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario A-2a</title>
  <style>
    {{css}}
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO A-2a<br>
        <span style="font-size:80%">IDENTIFICACIÓN DEL PROPONENTE<br>
        (Para Empresas)</span>
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">1. DATOS GENERALES DEL PROPONENTE</td></tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Nombre del proponente o Razon Social: </td>
            <td class="campo-contenido">{{datos_generales.razon_social}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Tipo de proponente: </td>
            <td class="check">{{#if datos_generales.es_nacional}}X{{/if}}</td>
            <td class="check-titulo">Empresa Nacional</td>
            <td class="check">{{#if datos_generales.es_extranjera}}X{{/if}}</td>
            <td class="check-titulo">Empresa extranjera</td>
            <td class="check">{{#if datos_generales.es_otro}}X{{/if}}</td>
            <td class="check-titulo">Otro</td>
            {{#if datos_generales.tipo.es_otro}}
              <td class="check-otro">{{datos_generales.tipo}}</td>
            {{/if}}
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">País</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Ciudad</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Dirección</td>
            <td class="sh"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="campo-titulo">Domicilio principal: </td>
            <td class="campo-contenido2" style="min-width:100px">{{datos_generales.pais}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2" style="min-width:100px">{{datos_generales.ciudad}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2" style="min-width:100px">{{datos_generales.direccion}}</td>
            <td class="sh"></td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Telefono: </td>
            <td class="campo-contenido2" style="width:150px">{{datos_generales.telefono}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">NIT</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="campo-titulo">Número de identificación tributaria<br>(Válido y Activo): </td>
            <td class="campo-contenido2" style="width:150px">{{datos_generales.nit}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td></td>
            <td class="sh"></td>
            <td class="campo-titulo3" colspan="5">Fecha de inscripción</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td></td>
            <td class="campo-titulo2" style="width:150px">Nro de matricula</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:50px">Día</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Mes</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Año</td>
          </tr>
          <tr>
            <td class="campo-titulo">Matrícula de comercio<br>(Actualizada): </td>
            <td class="campo-contenido2">{{datos_generales.nro_matricula}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2" style="text-align:center">{{datos_generales.fecha_inscripcion.dia}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2" style="text-align:center">{{datos_generales.fecha_inscripcion.mes}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2" style="text-align:center">{{datos_generales.fecha_inscripcion.anio}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr>
      <td class="seccion-titulo">2. DATOS COMPLEMENTARIOS DEL PROPONENTE<br>
        <!-- <span style="font-size:90%;font-style:italic">(Suprimir este numeral cuando el proponente sea una empresa unipersonal y éste no acredite a un Representante Legal)</span> -->
      </td>
    </tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">Apellido Paterno</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Apellido Materno</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Nombres</td>
            <td class="sh"></td>
          </tr>
          <tr>
            <td class="campo-titulo">Nombre del Representante Legal: </td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.primer_apellido}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.segundo_apellido}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.nombres}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">Número</td>
            <td></td>
            <td class="campo-titulo2">Lugar de expedición</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="campo-titulo">Cédula de identidad del<br>Representante Legal: </td>
            <td class="campo-contenido2" style="width:150px">{{datos_complementarios.representante_legal.ci}}</td>
            <td></td>
            <td class="campo-contenido2" style="width:150px">{{datos_complementarios.representante_legal.lugar_expedicion}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="sh"></td>
            <td class="campo-titulo3" colspan="5">Fecha de expedición</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td></td>
            <td class="campo-titulo2" style="width:150px">Nro de testimonio</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:150px">Lugar de emisión</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:50px">Día</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Mes</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Año</td>
          </tr>
          <tr>
            <td class="campo-titulo">Poder del Representante Legal (Si corresponde): </td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.nro_testimonio}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.lugar_emision}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2" style="text-align:center">{{datos_complementarios.representante_legal.poder.fecha_expedicion.dia}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2" style="text-align:center">{{datos_complementarios.representante_legal.poder.fecha_expedicion.mes}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2" style="text-align:center">{{datos_complementarios.representante_legal.poder.fecha_expedicion.anio}}</td>
          </tr>
        </table>

        <div class="declaracion">
          <!-- Declaro en calidad de Representante Legal contar con un poder amplio y suficiente con facultades para presentar propuestas y suscribir contratos.<br><br> -->
          <!-- Declaro que el Poder del Representante Legal se encuentra inscrito en el Registro de Comercio. -->
          (Caso sin Poder) Declaro en calidad de Representante Legal contar con la facultad amplia y suficiente para presentar propuestas y suscribir Contratos.<br><br>
          (Caso con Poder) Declaro en calidad de Representante Legal contar con un Testimonio Poder (inscrito en el Registro de Comercio), general amplio y suficiente con facultades para presentar propuestas y suscribir Contratos.
        </div>

      </td>
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">3. INFORMACIÓN SOBRE NOTIFICACIONES</td></tr>
    <tr>
      <td class="seccion-contenido">

        <div class="declaracion" style="margin-top:0">Solicito que las notificaciones sean remitidas vía:</div>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Correo Electrónico: </td>
            <td class="campo-contenido">{{informacion_contacto.correo}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Fax: </td>
            <td class="campo-contenido">{{informacion_contacto.fax}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

</body>
</html>
