<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario A-4</title>
  <style>
    {{css}}
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO A-4<br>
        <span style="font-size:80%">EXPERIENCIA ESPECÍFICA DE LA EMPRESA<br>
        {{empresa}}</span>
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <div class="seccion">
    <div class="seccion-contenido-sin-titulo">
      <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="titulo-dato left" rowspan="2">Nro.</th>
            <th class="titulo-dato" rowspan="2">Nombre del contratante / Persona y Dirección de Contacto</th>
            <th class="titulo-dato" rowspan="2">Objeto de contrato (Obra similar)</th>
            <th class="titulo-dato" rowspan="2">Ubicación</th>
            <th class="titulo-dato" rowspan="2">Monto final de contrato en Bs. (*) (Incluye Modificatorios)</th>
            <th class="titulo-dato" colspan="2">Periodo<br>de ejecución</th>
            <th class="titulo-dato" rowspan="2">Monto en $us (Llenado de uso alternativo)</th>
            <th class="titulo-dato" rowspan="2">% participación en asociación (**)</th>
            <th class="titulo-dato" rowspan="2">Nombre del(los) socio(s) (***)</th>
            <!-- <th class="titulo-dato" rowspan="2">Profesional responsable (****)</th> -->
          </tr>
          <tr>
            <th class="titulo-dato" style="border-top:0px;">Fecha de<br>inicio</th>
            <th class="titulo-dato" style="border-top:0px;">Fecha de<br>finalización</th>
          </tr>
        </thead>
        {{#each experiencias_especificas}}
        <tr class="bloque">
          <td class="dato left">{{this.nro}}</td>
          <td class="dato-l">{{this.nombre_contratante}}</td>
          <td class="dato-l">{{this.objeto_contratacion}}</td>
          <td class="dato-l">{{this.ubicacion}}</td>
          <td class="dato-r">{{this.monto_final_contrato_bs}}</td>
          <td class="dato">{{this.fecha_inicio_ejecucion}}</td>
          <td class="dato">{{this.fecha_fin_ejecucion}}</td>
          <td class="dato-r">{{this.monto_final_contrato_sus}}</td>
          <td class="dato">{{this.participacion}}</td>
          <td class="dato-l">{{this.socio}}</td>
          <!-- <td class="dato-l">{{this.profesional_responsable}}</td> -->
        </tr>
        {{/each}}
      </table>
      <div class="sv"></div>
    </div>
  </div>

  <div class="seccion bloque">
    <div class="seccion-contenido-sin-titulo">
      <div class="sv"></div>
      <table class="tabla-datos" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="width:5%;"></td>
          <td style="width:45%;"></td>
          <td style="width:50%;"></td>
        </tr>
        <tr>
          <td class="titulo-dato-r left" colspan="2">TOTAL FACTURADO EN DÓLARES AMERICANOS<br>(Llenado de uso alternativo)</td>
          <td class="dato-l top" style="min-width:150px">{{totales.total_facturado_sus}}</td>
        </tr>
        <tr>
          <td class="titulo-dato-r  left" colspan="2" style="border-top:0px;">TOTAL FACTURADO EN BOLIVIANOS (****)</td>
          <td class="dato-l" style="min-width:150px">{{totales.total_facturado_bs}}</td>
        </tr>
        <tr>
          <td class="dato left" >*</td>
          <td class="dato-l" colspan="2">Monto a la fecha de Recepcion final de la obra.</td>
        </tr>
        <tr>
          <td class="dato left">**</td>
          <td class="dato-l" colspan="2">Cuando la empresa cuente con experiencia asociada, solo se debe consignar el monto correspondiente a su participación.</td>
        </tr>
        <tr>
          <td class="dato left" >***</td>
          <td class="dato-l" colspan="2">Si el contrato lo ejecutó asociado, indicar en esta casilla el nombre del o los socios.</td>
        </tr>
        <!-- <tr>
          <td class="dato left" >****</td>
          <td class="dato-l" colspan="2">Indicar el nombre del Profesional Responsable, que desempeño el cargo de Superintendente / Residente o Director de Obras o su equivalente. Se puede nombrar a más de un profesional, si así correspondiese.</td>
        </tr> -->
        <tr>
          <td class="dato left" >****</td>
          <td class="dato-l" colspan="2">El monto en Bolivianos no necesariamente debe coincidir con el monto en dólares americanos.</td>
        </tr>
        <tr>
          <td colspan="3" class="dato-l left"><strong>Nota.-</strong> Toda la información contenida en este formulario es una declaración jurada. En caso de adjudicación el proponente se compromete a presentar el certificado o acta de recepción definitiva de cada una de las obras detalladas, en original o fotocopia legalizada emitida por la entidad contartante.</td>
        </tr>
      </table>
      <div class="sv"></div>
    </div>
  </div>

</body>
</html>
