<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario A-1</title>
  <style>
    {{css}}
    ol {
      counter-reset: list;
      margin: 0;
      padding-left: 28px;
    }
    ol > li {
      list-style: none;
      position: relative;
      text-align: justify;
    }
    ol.lower-alpha > li:before {
      counter-increment: list;
      content: counter(list, lower-alpha) ") ";
      position: absolute;
      left: -1.8em;
    }
    ol.decimal > li:before {
      counter-increment: list;
      content: counter(list, decimal) ") ";
      position: absolute;
      left: -1.8em;
    }
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO A-1<br>
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr>
      <td class="seccion-titulo">1. DATOS DEL OBJETO DE LA CONTRATACIÓN</td>
    </tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Número de invitación directa: </td>
            <td class="campo-contenido2" style="width:150px">{{nro_invitacion}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td></td>
            <td class="sh"></td>
            <td class="campo-titulo3" colspan="5">Fecha de convenio</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td></td>
            <td class="campo-titulo2" style="width:350px">N° de convenio</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:50px">Día</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Mes</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Año</td>
          </tr>
          <tr>
            <td class="campo-titulo">Convenio: </td>
            <td class="campo-contenido2">{{nro_convenio}}</td>
            <td class="sh"></td>
            <td class="campo-contenido-fecha">{{fecha_convenio.dia}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido-fecha">{{fecha_convenio.mes}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido-fecha">{{fecha_convenio.anio}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">2. MONTO Y PLAZO DE VALIDEZ DE LA PROPUESTA (EN DÍAS CALENDARIO)</td></tr>
    <tr>
      <td class="seccion-contenido">

        <p>El proponente debe registrar el monto total que ofrece por la provisión de obra.</p>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Descripción del proyecto: </td>
            <td class="campo-contenido">{{descripcion_proyecto}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Monto Numeral (Bs.): </td>
            <td class="campo-contenido">{{monto_bs.numeral}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Monto Literal: </td>
            <td class="campo-contenido">{{monto_bs.literal}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Validez de la propuesta: </td>
            <td class="campo-contenido2" style="width:150px">{{validez}}</td>
            <td>&nbsp;</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <div class="seccion">
    <div class="seccion-contenido-sin-titulo">
      <h4 style="text-align:center">I. De las Condiciones del Proceso</h4>
      <ol class="lower-alpha">
        <li>Declaro cumplir estrictamente la normativa de la Ley N° 1178, de Administración y Control Gubernamentales, lo establecido en las NB-SABS y el presente DBC.</li>
        <li>Declaro no tener conflicto de intereses para el presente proceso de contratación.</li>
        <li>Declaro, que como proponente, no me encuentro en las causales de impedimento, establecidas en el Artículo 43 de las NB-SABS, para participar en el proceso de contratación.</li>
        <li>Declaro y garantizo haber examinado las Especificaciones Técnicas y sus respectivas Aclaraciones, si existieran, así como los Formularios para la presentación de la propuesta, aceptando sin reservas todas las estipulaciones en dichos documentos y la adhesión al texto del contrato.</li>
        <li>Declaro respetar el desempeño de los servidores públicos asignados, por la entidad convocante, al proceso de contratación y no incurrir en relacionamiento que no sea a través de medio escrito, salvo en los actos de carácter público y exceptuando las consultas efectuadas al encargado de atender consultas, de manera previa a la presentación de propuestas.</li>
        <li>Declaro la veracidad de toda la información proporcionada y autorizo mediante la presente, para que en caso de ser adjudicado, cualquier persona natural o jurídica, suministre a los representantes autorizados de la entidad convocante, toda la información que requieran para verificar la documentación que presento. En caso de comprobarse falsedad en la misma, la entidad convocante tiene el derecho a descalificar la presente propuesta y ejecutar la Garantía de Seriedad de Propuesta sin perjuicio de lo dispuesto en normativa específica.</li>
        <!-- <li>Declaro la autenticidad de las garantías presentadas en el proceso de contratación, autorizando su verificación en las instancias correspondientes.</li> -->
        <li>Declaro haber realizado la Inspección Previa.</li>
        <li>Comprometo mi inscripción en el Registro Único de Proveedores del Estado (RUPE), una vez presentada mi propuesta a la Entidad Convocante (Excepto aquellos proponentes que ya se encuentren inscritos en el RUPE).</li>
        <li>Me comprometo a denunciar por escrito, ante la MAE de la entidad convocante, cualquier tipo de presión o intento de extorsión de parte de los servidores públicos de la entidad convocante o de otras personas, para que se asuman las acciones legales y administrativas correspondientes.</li>
        <li>Acepto a sola firma de este documento que todos los Formularios presentados se tienen por suscritos, excepto el Formulario A-5 y Formulario A-6, los cuales deben estar firmados por los profesionales propuestos.</li>
        <li>Declaro que el personal clave propuesto en el Formulario A-5 y Formulario A-6 se encuentra inscrito en los Registros que prevé la normativa vigente (cuando corresponda) y que éste no está considerado como personal clave en otras propuestas.</li>
      </ol>
      <p>II. De la Presentación de Documentos</p>
      <!-- <p>En caso de ser adjudicado, para la suscripción de contrato, me comprometo a presentar la siguiente documentación, en original o fotocopia legalizada, salvo aquella documentación cuya información se encuentre consignada en el Certificado del RUPE, aceptando que el incumplimiento es causal de descalificación de la propuesta. En caso de Asociaciones Accidentales, la documentación conjunta a presentar es la señalada en los incisos a), d),i), j),m), n) y p).</p> -->
      <p>En caso de ser adjudicado, para la suscripción de contrato, me comprometo a presentar la documentación solicitada en los numerales 1 al 13 y los incisos a y b, según corresponda, en original o fotocopia legalizada, salvo aquella documentación cuya información se encuentre consignada en el Certificado del RUPE, aceptando que el incumplimiento es causal de descalificación de la propuesta. En caso de Asociaciones Accidentales, la documentación conjunta a presentar son los enunciados en los numerales del 1 al 13 con la diferencia de que presentaran los incisos c y d (Testimonio de Asociación Accidental y Testimonio Poder de la Asociación Accidental). A su vez cada integrante de la asociación deberá presentar por separado la documentación solicitado en los numerales del  3 al 13, menos el numeral 7 y si corresponde los incisos a y b.</p>
      <ol class="decimal">
        <li><strong>Garantía de Cumplimiento de Contrato (Boleta de Garantía, Boleta de Garantía a Primer Requerimiento o Garantía a Primer Requerimiento):</strong> Equivalente al siete por ciento (7%) del monto del contrato, con las características de renovable, irrevocable y de ejecución inmediata. La vigencia de la garantía será computable a partir de la firma del contrato hasta la recepción definitiva del bien y desembolso del último pago.</li>
        <li><strong>Garantía de Correcta Inversión de Anticipo (cuando corresponda). (Boleta de Garantía, Boleta de Garantía a Primer Requerimiento o Garantía a Primer Requerimiento)</strong> Por un monto equivalente al cien por ciento (100%) del anticipo otorgado y deberá tener una vigencia mínima de noventa (90) días calendario, computable a partir de la entrega del anticipo debiendo ser renovada mientras no se deduzca del monto total.</li>
        <li>Fotocopia a color de Cédula de Identidad del Representante legal de la empresa.</li>
        <li>Certificado de Matricula de Comercio otorgada por Fundempresa Concesionaria del Registro de Comercio de Bolivia (original) y actualizada.</li>
        <li>Certificado número de identificación Tributaria – NIT.</li>
        <li>Certificado de Solvencia Fiscal emitido por la Contraloría General del Estado (original).</li>
        <li>Registro Único de Proveedores del Estado (RUPE).</li>
        <li>Certificación de No Adeudo a la Seguridad Social de Largo Plazo AFPs.</li>
        <li>Estados Financieros Auditados de la Empresa (Original o Fotocopia legalizada).</li>
        <li>Currículum Vitae de la Empresa con respaldos (fotocopias).</li>
        <li>Registro SIGMA (SIGEP).</li>
        <li>Certificado de Inscripción en el Registro de Empresas Constructoras, emitido por la entidad competente (excepto para las contrataciones de obras menores a 8.000.000,00 ocho millones  00/100 Bolivianos).</li>
        <li>Croquis de la ubicación de la oficina y domicilio del Representante Legal.</li>
      </ol>
      <br>
      <p>Además de los requisitos anteriores, mencionados para el caso de personas jurídicas constituidas de acuerdo a la normativa del Código de Comercio, deberá presentar.</p>
      <ol class="lower-alpha">
        <li>Fotocopia Legalizada de Escritura de Constitución de Sociedad, inscrita en Fundempresa (Cuando Corresponda).</li>
        <li>Fotocopia legalizada de Testimonio de Poder del Representante Legal, inscrito en Fundempresa, con facultades para suscripción de contratos, cobro de planilla y anticipo (Cuando Corresponda).</li>
        <li>Fotocopia Legalizada del Testimonio de Asociación Accidental (cuando corresponda).</li>
        <li>Fotocopia Legalizada del Testimonio de poder de Representante Legal de la Asociación Accidental (cuando corresponda)</li>
      </ol>
      <!--
      <p>1. Certificado del RUPE que respalde la información declarada en su propuesta.</p>
      <p>2. Documento de constitución de la empresa, excepto aquellas empresas que se encuentran inscritas en el Registro de Comercio.</p>
      <p>3. Matrícula de Comercio actualizada, excepto para proponentes cuya normativa legal inherente a su constitución así lo prevea.</p>
      <p>4. Poder General amplio y suficiente del Representante Legal del proponente con facultades para presentar propuestas y suscribir contratos, inscrito en el Registro de Comercio, ésta inscripción podrá exceptuarse para otros proponentes cuya normativa legal inherente a su constitución así lo prevea. Aquellas Empresas Unipersonales que no acrediten a un Representante Legal, no deberán presentar este Poder.</p>
      <p>5. Certificado de Inscripción en el Padrón Nacional de Contribuyentes (NIT).</p>
      <p>6. Declaración Jurada del Pago de Impuestos a las Utilidades de las Empresas, con el sello del Banco, excepto las empresas de reciente creación.</p>
      <p>7. Certificado de Solvencia Fiscal, emitido por la Contraloría General del Estado (CGE).</p>
      <p>8. Cetificado de No Adeudo por Contribuciones al Seguro Social Obligatorio de Largo Plazo y al Sistema Integral de Pensiones.</p>
      <p>9. Garantía de Cumplimiento de Contrato equivalente al siete por ciento (7%) del monto del contrato. En el caso de Asociaciones Accidentales esta garantía podrá ser presentada por una o más empresas que conforman la Asociación, siempre y cuando cumpla con las características de renovable, irrevocable y de ejecución inmediata; emitida a nombre de la Entidad.</p>
      <p>10. Garantía Adicional a la Garantía de Cumplimiento de Contrato de Obras, conforme lo establecido en el inciso c), del Artículo 21 de las NB-SABS.</p>
      <p>11. Documento de constitución de la empresa, para aquellos proponentes que soliciten el margen de preferencia.</p>
      <p>12. Certificados/Documentos que acrediten la Experiencia General y Específica de la Empresa.</p>
      <p>
        a) Certificados/Documentos que acrediten la Experiencia General y Específica del Personal Clave.<br>
        b) Testimonio de Contrato de Asociación Accidental.<br>
        c) Documentos de constitución de la ONG cuando ésta se presente asociada con una Empresa Constructora<br>
        d) Documentación requerida en las especificaciones técnicas y/o condiciones técnicas<br>
        e) Certificado de Inscripción, en el Registro de Empresas Constructoras, emitido por la entidad competente (excepto para contrataciones de obras hasta Bs. 8.000.000.- (Ocho millones 00/100 Bolivianos).
      </p>
      -->
    </div>
  </div>

</body>
</html>
