<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Informe</title>
  <style>
    body {
      font-size: 12px;
    }
    table {
      border-collapse: collapse;
    }
    .informe-evaluacion {

    }
    .informe-evaluacion p {
      text-align: justify;
      font-size: 12px;
    }

    table.referencia td {
      vertical-align: top;
    }

    .titulo {
      text-align: center;
      font-weight: bold;
    }
    .bold {
      font-weight: bold;
    }
    .center {
      text-align: center;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
    .backcolor {
      background-color: #BDD7EE;
    }
    .backcolor2 {
      background-color: #8DB3E2;
    }
    .informe-evaluacion table {
      width: 100%;
      border-collapse: collapse;
    }
    .informe-evaluacion table th,
    .informe-evaluacion table td {
      border: 1px solid #000;
      padding: 4px;
    }
    .informe-evaluacion table th {
      background-color: #BDD7EE;
      text-align: center;
    }
    .font-small {
      font-size: 12px;
    }
    .textarea {
      white-space: pre-wrap;
    }
  </style>
</head>
<body>
  
    <section>
      <div>
        <table width="100%">
          <tr>
            <td class="center" width="100px"><img alt="logo_fdi" src="{{path}}/public/imagen/mdryt-logo.png"/ height="50px"></td>
            <th>&nbsp;</th>
            <td class="center" width="100px"><img id="imagen" alt="logo_mdryt" src="{{path}}/public/imagen/fdi-logo.png"/ height="50px"></td>
          </tr>
        </table>
      </div>
    </section>
    <hr>
    <section>
      <table class="font-small referencia" align="center">
        <tr>
          <td class="center" colspan="4"><h4>INFORME DE EVALUACIÓN TÉCNICA FDI<br>INF {{codigo}}</h4></td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>A</b></td><td>:</td>
          <td>{{director_general.nombre}}
            <br><b>DIRECTOR GENERAL EJECUTIVO</b>
            <br><b>FONDO DE DESARROLLO INDÍGENA</b>
            <br>&nbsp;
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Vía</b></td><td>:</td>
          <td>{{jefe_depto_tecnico.nombre}}
            <br><b>{{jefe_depto_tecnico.cargo}}</b>
            <br>&nbsp;
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Vía</b></td><td>:</td>
          <td>{{jefe_designacion.nombre}}
            <br><b>{{jefe_designacion.cargo}}</b>
            <br>&nbsp;
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>De</b></td><td>:</td>
          <td>{{tecnico_evaluacion.nombre}}
            <br><b>{{tecnico_evaluacion.cargo}}</b>
            <br>&nbsp;
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Fecha</b></td><td>:</td>
          <td>{{fecha.dia}} de {{fecha.mes}} del {{fecha.anio}}<br>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Ref.</b></td><td>:</td>
          <td><b>{{nombre}}</b><br>&nbsp;</td>
        </tr>
      </table>
    </section>
    <hr>
    <section class="informe-evaluacion">
      <h4>1. ANTECEDENTES.</h4>
      <p>El Fondo de Desarrollo Indígena, creado mediante Decreto Supremo Nº 2493 de 26 de agosto de 2015, tiene la finalidad de gestionar, financiar, ejecutar de manera directa y fiscalizar programas y proyectos para el desarrollo productivo de los Pueblos Indígena Originario Campesinos, Comunidades Campesinas, Interculturales y Afrobolivianas.</p>
      <p>En cumplimiento de lo dispuesto en el Decreto Supremo N° 3186, el FDI mediante Resolución Administrativa N° 044/2018, de 25 de mayo de 2018, aprueba el  Reglamento de Evaluación y Aprobación de Programas y/o Proyectos a ser financiados por el Fondo de Desarrollo Indígena, que establece parámetros y procedimientos para la evaluación y aprobación de programas y proyectos para el desarrollo productivo de los pueblos indígena originario campesinos y comunidades interculturales y afrobolivianas, a ser financiados por el Fondo de Desarrollo Indígena que serán ejecutados por Gobiernos Autónomos Municipales, Gobiernos de Autonomías Indígena Originario Campesinas  o  el Fondo Nacional de Inversión Productiva y Social (FPS).
      En sujeción al Reglamento de Evaluación de Proyectos, el Departamento Técnico de Proyectos del FDI ha realizado la     evaluación     del     proyecto: "{{nombre}}".</p>
      <h4>2. EVALUACION TECNICA DEL PROYECTO</h4>
      <p>{{motivo_rechazo}}</p>
    </section>
  
    <section class="informe-evaluacion">
      <h4>3. CONCLUSIONES Y RECOMENDACION.</h4>
      <p>Por lo expuesto en el presente informe y en conformidad al Reglamento de Evaluación y Aprobación de Programas y Proyectos vigente, el Departamento Técnico de Proyectos del Fondo de Desarrollo Indígena concluye que el proyecto <strong>"{{nombre}}" NO</strong> es factible de ejecución y recomienda <strong>RECHAZAR</strong> su financiamiento.</p>
    </section>
  </div>
</body>
</html>
